<!DOCTYPE html>
<html>
<head>
  <title>Cost to Ship</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='css/styles.css'>
</head>
<body>

<div class="container">
  <div class="panel panel-default" style="max-width: 300px; min-width: 300px; margin: 10vh auto;">
    <div class="panel-heading">Cost to Ship</div>
    <div class="panel-body">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
